@Html.ValidationSummary()
@* Добавить проверки *@
<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="mb-3">
        <label for="email" class="form-label">Электронная почта</label>
        <input type="text" class="form-control" name="email" />
    </div>
    <div class="mb-3">
        <label for="login" class="form-label">Логин</label>
        <input type="text" class="form-control" name="login" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" />
    </div>

    <button class="btn btn-primary" type="submit">Войти</button>
</form>